# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.
#vitimage, "Vitimage Toolbox", com.vitimage.Vitimage_Toolbox
#vitimage, "APLIM Registration Toolbox", com.vitimage.APLIM_Studio
#vitimage, "WEKA_SAVE_4.0_PHENIX_DE_L_OMBRE", com.vitimage.Weka_Save
Plugins>Registration, "Fijiyama", io.github.rocsg.fijiyama.fijiyamaplugin.Fijiyama_GUI
Plugins>Analyze, "RSML Expert", io.github.rocsg.fijiyama.rsml.RsmlExpert_Plugin
